.instructionView .countersContainer {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  
  margin: 20px 10px;
}

.instructionText {
  background-color: #f8f8f8;
  font-size: 32px;
  color: #666666;

  border: 1px solid gray;
  border-radius: 15px;

  box-sizing: border-box;
  width: 90%;
  padding: 10px 20px;
  margin: 20px 10px;
}

.instructionText .focusedText {
  color: black;
  font-weight: bold;
}

.instructionText .red {
  color: red;
}

.instructionText .orange {
  color: orange;
}

.instructionText .yellow {
  color: yellowgreen;
}